[core]
	editor = nvim
[alias]
	s = status
	lg = log --pretty=format:'%Cred%h%Creset - %C(auto)%(decorate) %s %C(blue)<%an>'
	amend = commit --amend --no-edit
	cp = cherry-pick
	cpc = cherry-pick --continue --no-edit
	cps = cherry-pick --skip
	rc = rebase --continue
	sm = submodule
[init]
	defaultBranch = main